html,
body,
header {
	width: 100%;
	height: 100%;
	font-family: "Open Sans", sans-serif;
	transition: all 0.3s ease-in-out;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	
}

textarea:focus,
input:focus {
	outline: none;
}

.bgImg {
	/* background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-371678.jpg"); */
	background-color: white;
	background-size: cover;
	display: block;
	filter: grayscale(75%);
	-webkit-filter: grayscale(75%);
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	z-index: -999;
}

.card {
	width: 100%;
	height: 77%;
	border: 0;
	margin-bottom: 150px;
	margin-top: 150px;
	padding: 0px 15px 10px 15px;
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 5px 6px 20px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 6px 20px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 6px 20px -5px rgba(0, 0, 0, 0.75);
	border-radius: 6px !important;
}

.glowBox {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,9,121,1) 35%, rgba(0,212,255,1) 100%);
	margin-top: -40px;
	padding: 20px 0;
	width: 100%;
	margin-bottom: 15px;
	-webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2),
		0 13px 24px -11px rgba(115, 103, 240, 0.6);
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2),
		0 13px 24px -11px rgba(115, 103, 240, 0.6);
	border-radius: 6px;
}

.title {
	margin-top: 0.625rem;
	margin-bottom: 0.75rem;
	font-size: 1.75rem;
	line-height: 1.5em;
	text-align: center;
	color: #fff;
}

.desc {
	color: #888888;
	font-size: 14px;
	margin: 0 0 10px;
}

.form {
	display: block;
	width: 100%;
	padding: 0.4375rem 0;
	font-size: 1rem;
	line-height: 1.5;
	/* color: #495057; */
	background-color: transparent;
	background-clip: padding-box;
	border: 0;
	border-bottom: 1px solid #d2d2d2;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
	padding-bottom: 7px;
	margin: 10px 0 0 0;
}
.form:focus {
   outline: none;
}

input::-webkit-input-placeholder {
	color: rgb(0, 0, 0);
}

input:focus::-webkit-input-placeholder {
	color: #7367f0;
}


.form:focus + .underline {
	transform: scale(1);
}

.underline {
	background-color: #7367f0;
	display: inline-block;
	height: 2px;
	left: 0px;
	margin-top: -4px;
	position: relative;
	top: -18px;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
	width: 100%;
}

.bold-underline {
	background-color: black;
	height: 2px;
	margin-bottom: 2px;
}

/* 1 */
.btn-1 {
  background: rgb(6,14,131);
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
	font-size: 1.25rem;
  border: none;
	color: white;
	height: 45px;
	width: 150px;
   border-radius: 6px;
}
.btn-1:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}
